@font-face {
  font-family: 'Title';
  src: local('Font_soulsV2_Title-Regular'),
    url('../assets/fonts/Font_soulsV2_Title-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Body';
  src: local('Font_soulsV2_Body-Regular'),
    url('../assets/fonts/Font_soulsV2_Body-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Scratch';
  src: local('TheEnd_v2'),
    url('../assets/fonts/TheEnd_v2.ttf') format('truetype');
}
