@use '../abstracts/variables' as variables;

.font-title {
  font-family: 'Title';
  font-size: 2.4rem;
}
.font-body {
  font-family: 'Body';
  font-size: 1.6rem;
}

.app-header__title {
  font-family: 'Scratch';
  font-size: 4rem;
  color: variables.$blood;
  text-shadow: 3px -2px variables.$blood-dark;
}
