@use '../abstracts/variables' as variables;

@mixin cardPseudos($card, $deg) {
  content: '';
  background-size: cover;
  border-radius: variables.$card-radius;

  height: 100%;
  width: 100%;

  position: absolute;
  z-index: -1000;

  box-shadow: variables.$card-shadow;
}

@mixin card($card, $deg) {
  content: '';
  transform: rotate(0);
  background: variables.$card-darken,
    url('../assets/cards/backs/' + $card + '.png');
  background-size: cover;
  position: relative;
  transition: transform 0.2s;

  &:before {
    background: variables.$card-darken,
      url('../assets/cards/backs/' + $card + '.png');
    transition: transform 0.15s;
    @include cardPseudos($card, ($deg / 2));
  }
  // :after appears on top, so don't darken the image
  &:after {
    background-image: url('../assets/cards/backs/' + $card + '.png');
    transition: transform 0.1s;
    @include cardPseudos($card, $deg);
  }

  &:hover {
    transform: rotate(-$deg);
    &:before {
      transform: rotate($deg);
    }
    &:after {
      transform: rotate($deg * 2);
    }
  }
}
