@use '../abstracts/variables' as variables;

// For the :before & :after pseudo elements on each card
@mixin cardPseudos($card) {
  content: '';
  background-size: cover;
  border-radius: variables.$card-radius;

  height: 100%;
  width: 100%;

  position: absolute;
  z-index: -1000;

  box-shadow: variables.$card-shadow;
}

// Card tolt hover effect
@mixin card($card, $deg) {
  content: '';
  transform: rotate(0);
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../assets/cards/backs/' + $card + '.png');
  background-size: cover;
  position: relative;
  transition: transform 0.2s;

  // the card on the bottom of the stack
  &:before {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url('../assets/cards/backs/' + $card + '.png');
    transition: transform 0.15s;
    @include cardPseudos($card);
  }

  // the card on the top of the stack
  &:after {
    background-image: url('../assets/cards/backs/' + $card + '.png');
    transition: transform 0.1s; // Make it slightly faster than the card on the bottom for a bouncy effect
    @include cardPseudos($card); // We want to tilt the card slightly to the left
  }

  &:hover {
    // Back
    transform: rotate(-$deg); // Moves -deg (both pseudos will moves -deg as well)

    // Middle
    &:before {
      transform: rotate($deg); // Moves -deg from above, but moving +deg offsets and it ends up staying still
    }

    // Front
    &:after {
      transform: rotate($deg * 2); // Moves -deg and +(deg * 2), so from starting position it practically just moves +deg
    }
  }
}