:root {
  --color-white: #fff8f0;
  --color-black: #000;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////
// CARDS ///////////////////////////////////////////////////////////////////////////////////////////////
$card-deg: 3deg;
$card-radius: 7px;
$card-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$card-darken: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));

////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////
// BACKGROUND //////////////////////////////////////////////////////////////////////////////////////////
$background-black: hsl(0, 0%, 9%);
$background: hsl(5, 20%, 24%);

////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////
// EXPERIMENT //////////////////////////////////////////////////////////////////////////////////////////
$bone: #d4bda5;
$orange: #cd622e;
$blood: #ae2f28;
$blood-dark: hsl(358, 55%, 10%);

$grey: #827165;
$grey-light: #9c9589;
$green: #30423e;
$green-light: #286948;
$blue: #172436;
$blue-light: #315382;
$purple: #181436;
$purple-light: #403882;