:root {
  --color-white: #fff;
  --color-black: #000;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////
// BACKGROUND //////////////////////////////////////////////////////////////////////////////////////////
$background: hsl(5, 20%, 24%);
