:root {
  --color-white: #fff;
  --color-black: #000;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////
// BACKGROUND //////////////////////////////////////////////////////////////////////////////////////////
$background-black: hsl(0, 0%, 9%);
$background: hsl(5, 20%, 24%);
