@use '../abstracts/variables' as variables;

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__left,
  &__right {
    flex-grow: 1;
    border: 2px dotted rgba(255, 68, 0, 0.4); //! REMOVE !!!!!! TESTING !!!!!!
  }
}

.app-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -6.5rem;

  &__image {
    width: 40rem;
    // z-index: 10;
  }
  &__title {
    margin-top: -4.2rem;
  }
}

.app-content {
  border: 2px dotted rgba(153, 205, 50, 0.4); //! REMOVE !!!!!! TESTING !!!!!!
  height: 80rem;
}
