@use '../abstracts/variables' as variables;

.app-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -6.5rem;

  &__image {
    width: 40rem;
    // z-index: 10;
  }
  &__title {
    margin-top: -4.2rem;
  }
}
